@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --branco: #fff;
  --titulo-bordas: #5d15d1

}

body{
  background-color: #80808029;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif; 
}

.container-cabecalho{
  width: 100%;
  height: 55px;
  background-color: var(--branco);
  display: flex;
  align-items: center;
}

.cabecalho-imagen{
  display: flex;
  align-items: center;
}

.reaproveitavel{
  max-width: 1024px;
  margin:  0 auto;
  width: 100%;
  height: 100%;
  
}

.cabecalho-imagen img{
  width: 32px;
  height:32px
}

.cabecalho-imagen p{
  font-size: 24px;
  color: var(--titulo-bordas);
  margin-left: 10px;
}

.container-formulario{
  width: 100%;
  height: auto;
}

.formulario-imagen-fundo{
  width: 100%;
  height: auto;
  background-image: url("../imagens/bahia.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  padding: 40px;
  
}
.formulario{
  width: 1024px;
  height: auto;
}

.formulario-titulo img{
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);

}

.formulario-titulo {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--titulo-bordas);
}

.formulario-titulo h1{
  font-size: 14px;
  color: var(--branco);
  margin: 0 0 0 5px;
}

.container-dados{
  width: 100%;
  background: var(--branco);
  padding: 30px 25px 20px 25px;
}

.container-dados h2{
  font-size: 22px;
  margin: 0 0 24px 0;
}

.fomulario-principal{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.fomulario-principal label{
  font-size: 16px
}

.fomulario-principal input {
  width: 100%;
  height: 32px;
  margin: 10px 0px;
}
.formulario-duplo{
  display: flex;
  width: 100%;
  gap: 20px;
}

.formulario-duplo input, select{
  width: 450px;
}

.formulario-duplo select{
  font-size: 14px;
  padding: 6px;
  
}

.label-radio, .label-checkbox{
  font-size: 18px;
  margin: 20px 0;
}

.campo-radio{
  width: 180px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.campo-radio div{
  display: flex;
  align-items: center;
  gap: 7px;
}

.campo-checkbox{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.campo-checkbox div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.campo-checkbox label{
  width: 80px;
}

.campo-checkbox input{
  width: 15px;
}

.btn{
  width: 160px;
  font-size: 14px;
  color: var(--branco);
  background-color: var(--titulo-bordas);
  padding: 6px;
  border: none;
}

.subtitulo-oferta-natureza{
  width: 100%;
  height: auto;
}

.ofertas-natureza h2, .subtitulo-oferta-natureza h2{
  width: 1024px;
  font-size: 26px;
  margin: 40px auto 10px;
  
}

.ofertas-natureza h3, .subtitulo-oferta-natureza h3{
  width: 1024px;
  font-size: 18px;
  margin: 0 auto 20px;
  font-weight: normal;
}

.ofertas-natureza span{
  font-weight: bold;
}

.ofertas{
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
}

.imagem-maior{
  width: 100%;
  height: 375px;
  display: flex;
  justify-content: space-between;
}

.imagem-maior-destaque{
  position: relative;
  width: calc(50% - 10px);
  height: 100%;
}

.quatro-imagens{
  width: calc(50% - 10px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quatro-imagens figure{
  position: relative;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  margin: 0 6;
}

.imagem-maior img, .quatro-imagens img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.subtitulo-oferta-natureza figcaption{
  width: 100%;
  color: var(--branco);
  position: absolute;
  bottom: 0px;
  padding: 5px 0px 5px 10px;
  background-color: rgba(29, 27, 27, 0.726);
}

.natureza-duas-imagens{
  width: 100%;
  height:  auto;
  display: flex;
  justify-content: space-between;
  
}

.natureza-duas-imagens img{
  width: 100%;
}

.natureza-duas-imagens figure{
  position: relative;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  margin: 0 6px;
}

.imagem-natureza{
  width: calc(50% - 10px);
  height: 100%;
}

.imagem-natureza img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imagem-natureza div{
  width: 100%;
  padding: 20px;
  background-color: var(--branco);
}

.imagem-natureza h3{
  font-size: 16px;
}

.imagem-natureza p{
  color: grey;
  font-size: 14px;
  margin: 15px 0px 0px 0px;
}
